
@{
    ViewData["Title"] = "View";
}

<div class="Welcome" style="padding:25%;">
    <center>
        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Welcome to the 35<sup>th</sup> Donore Avenue API Homepage
        </h1>
        
        <input type="button" value="View All Forms" onclick="location.href='@Url.Action("Get", "Form")'" style="width:250px; height:50px"/>
    </center>
</div>

    
